/* Navbar  */

.navbar{
float:right;
font-family:"Laila", sans-serif;
text-shadow: 3px 3px 3px rgb(231, 225, 225);
font-size: 14px;
margin-top: -90px;
padding-right: -10px;
line-height: 1.0em;
margin-right: 30px;
}
    
    
.navbar-expand{
font-family:"Laila", sans-serif;
color: rgb(90, 86, 86);
}
    
.navbar a:hover{
color: rgb(1, 17, 236);
}
     
.dropdown { 
text-align:center;
}
.li, .dropdown-item {
margin: -10px auto;
text-align: center;
}    
ul {
        
list-style: none;
margin: 0;
padding-left: 0;
}
li {
color:black;
display: block;
float: right;
padding: 1rem;
position: relative;
text-decoration: none;
transition-duration: 0.5s;
}
        
li a {
color: black;
}
      
.dropdown-item, a:hover {
color: rgb(22, 93, 185);
}
    
ul li ul {
visibility: hidden;
opacity: 0;
min-width: 5rem;
position: absolute;
transition: all 0.5s ease ;
margin-top: 1rem;
left: 0;
display: none;
}
      
ul li:hover > ul,
ul li ul:hover {
visibility: visible;
opacity: 1;
display: block;
}
      
ul li ul li {
clear: both;
width: 100%;
}
/* Search bar */
.form-control{
width: 110%;
margin-top: 10px;
margin-left: -10px;
}
        
.btn-outline { 
margin-right: -230px;
margin-top: -77px;
}
    
/* Logo */
    
@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

.logo-holder{
text-align: left;
margin-bottom: -40px;
padding-top: 5px;
position: relative;
}
    
.logo-6 h3 {
color: #616366;
font-family:"Fraunces", sans-serif;
font-size: 25px;
padding-left: 74px;
margin-top: 17px;
padding-top: 12px;
padding-bottom: 30px;
margin-left: -50px;
}
.logo-6 h3 span {
background:none;
color: rgb(25, 10, 158);
display: inline-block;
}

/* Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{
width: 100%;
background: white;
text-align: left;
font:  bold 16px sans-serif;
padding: 30px 20px;
box-shadow: 3px 3px 3px 3px black;
box-sizing: border-box;
font-family: 'Laila', sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}
.footer-distributed .footer-left{
width: 40%;
line-height: 6.4;
}
.footer-distributed h3{
color: black;
font: normal 24px , cursive 'Laila', sans-serif ;
margin: 0;
}
.footer-distributed h3 span {
color: rgb(25, 10, 158);
}
.footer-distributed .footer-links{
color: black;
margin: 20px 0 12px;
padding: 0;
}
.footer-distributed .footer-links a{
color: inherit;
font-weight: 400;
display: inline-block;
line-height: 1.8;
text-decoration: none;
}

.footer-distributed .footer-company-name{
color: rgb(14, 13, 13);
margin: 0;
font-weight: normal;
font-size: 14px;
}
.footer-distributed .footer-center{
width: 35%;
}
.footer-distributed .footer-center i{
background: black;
width: 38px;
height: 38px;
font-size: 25px;
color: white;
text-align: center;
margin : 10px 15px;
border-radius: 50%;
line-height: 42px;
vertical-align: middle;
}

.footer-distributed .footer-center i .fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
margin: 0;
margin-left: 60px;
font-weight: 400;
display: inline-block;
color: black;
vertical-align: middle;
font-weight: bold;
}
.footer-distributed .footer-center p{
font-size: 14px;
display: block;
line-height: 2;
margin-top: -70px;
line-height: 6.4;
font-weight: bold;
}

.footer-distributed .footer-center p a{
color : black;
text-decoration: none;
font-weight: bold;
}

.footer-distributed .footer-links a:before{
left: 0;
font-weight: 300;
font-size: 20px;
color: black;
content: "|";
padding-right:5px;
display: inline-block;
}

.footer-distributed .footer-links .link-1:before{
content:none;
}
.footer-distributed .footer-right{
width: 20%;
}
.footer-distributed .footer-right h3{
font-size: 18px;
margin-top: 12px;
margin-bottom: 13px;
line-height: 0;
}

.footer-distributed .footer-company-about{
color: black;
margin:0;
font-size: 13px;
font-weight: normal;
}
.footer-distributed .footer-company-about span{
color: black;
font-size: 14px;
display: block;
font-weight:bold;
margin-bottom: 11px;
margin-top: 20px;
}
.footer-distributed .elementor-widget-container{
color: black;
font-size: 13px;
line-height: 1.8
;}
.footer-distributed .footer-icons{
margin-top: 25px;
}
.footer-distributed .footer-icons a{
width:35px;
height:35px;
display: inline-block;
cursor: pointer;
border-radius: 2px;
font-size: 20px;
color: black;
margin-bottom: 5px;
margin-right: 3px;
text-align:center;
line-height: 15px;
}

.footer-distributed .fa-facebook{
background-color: blue;
width: 30px;
height: 20px;
display: inline-block;
cursor: pointer;
border-radius: 20px;
color: white;
font-size: 20px;
margin-bottom: 5px;
margin-right: 5px;
text-align: center;
}
.footer-distributed .fa-instagram{
background: black;
width: 28px;
height: 20px;
display: inline-block;
color: white;
cursor: pointer;
border-radius: 20px;
font-size: 20px;
text-align: center;
margin-left: -2px;
}
@media (max-width :880px) {
.footer-distributed{
font: bold 14px sans-serif;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
width: 100%;
display: block;
text-align: center;
margin-bottom: 20px;
}
.footer-distributed .footer-center i{
margin-left: 0;
}
}
/* Faq */
.cd-faq__items { 
position: relative;

}
  
.cd-faq__categories {
position:sticky; 
}
  
